---
http_interactions:
- request:
    method: post
    uri: http://www.shrimpy.me/api/v1/urls.json
    body:
      encoding: UTF-8
      string: url[full_url]=http%3A%2F%2Fgoogle.com
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Location:
      - http://www.shrimpy.me/32
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bef44dd74a72f4f9713740414cb89504"
    body:
      encoding: ASCII-8BIT
      string: '{"id":32,"full_url":"http://google.com","slug":"wKRwBw","title":"Google","created_at":"2015-02-08T20:21:10Z","updated_at":"2015-02-08T20:21:10Z"}'
  recorded_at: Sun, 08 Feb 2015 20:21:10 GMT
recorded_with: VCR 2.9.3
